.progress-bar {
    position: relative;
    height: 30px;
    width: 380px;
    border-radius: 50px;
    border: 2px solid #333;
    text-align: center;

    span {
      top: -26px;
      position: relative;
      font-weight: 600;
    }
  }
  
  .filler {
    background: linear-gradient(225deg, #b2dabf, #5d9bb8);
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
  }