.navigation {
    position: relative;
    width: 70%;
    height: 150px;
    background: #fff;
    border-radius: 35px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    margin-bottom: 100px;
    border: 1px solid black;

    ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;

        li {
            position: relative;
            list-style: none;
            width: 70px;
            height: 70px;
            z-index: 1;

            &:hover {
                a .title {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(-50%, -50%);
                }
            }

        a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
            color: #333;
            font-weight: 500;

            .icon {
                position: relative;
                display: block;
                line-height: 150px;
                text-align: center;
                transition: 0.5s;
            }

            .title {
                position: absolute;
                top: 160px;
                left: 50%;
                transform: translate(-50%,15%);
                background: #fff;
                width: auto;
                padding: 5px 10px;
                border-radius: 6px;
                box-shadow: 0 5px 15px rgba(0,0,0,0.1);
                transition: 0.5s;
                opacity: 0;
                visibility: none;
                font-size: 1.5em;
                border: 1px solid black;
                font-weight: 600;

               
            }
        }

        .active {
            .icon {
                color: #fff;
            }
        }
    }
}
}
