.item-box {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    .item {
        width: 120px;
        height: 120px;
        opacity: 0;
    }

    .active {
        opacity: 1;

    }
}