$light-green: #7bcf96;
$light-blue: #03a9f4;

.split {
    position: relative;
    height: 100vh;
    display: flex;

    .character-screen {
        position: relative;
        flex-grow: 3;
        transition: 1s;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: url(../../assets/character-bg.jpg) no-repeat; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .card {
            max-width: 300px;
            text-align: center;
            transition: 0.5s;

            .image-box {
                width: 200px;
                height: 70vh;
                display: flex;
               // overflow: hidden;
                margin: 0 auto;
                flex-wrap: wrap;

                img {
                    //max-width: 100%;
                    width: 100%;
                }
            }
        }
    }

    .interaction-screen {
            padding: 10px 50px;
            background: $light-green;
            flex-grow: 1;

            .menu {
                display: flex;
                justify-content: center;
                width: 100%;
                margin: 0 auto;
            }

            .stats {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding: 30px;
                border-radius: 10%;
                background: rgb(241, 240, 240);
                border: 2px solid rgb(19, 65, 53);

                .stat-box{
                    display: flex;
                    justify-content: space-between;

                    span {
                        width: 6vw;
                        font-weight: 600;
                        font-size: 1.7em;
                        
                        &:nth-child(2){
                            width: 350px;
                            text-align: center; 
                        }
                    }

                    div {
                        text-align: center;
                    }

                }
            }
       }
}