.poop-box {
    width: 20%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;

    .poop {
        width: 15%;
        height: 10%;
        opacity: 0;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .active {
        opacity: 1;
    }
}

@media (max-width: 768px){
    .poop-box {
        width: 50%;
        height: 40%;
        justify-content: flex-start;
        margin: 0;
    
        .poop {
            width: 40px;
            height: 40px;
            margin: auto 0;
    }
    
    }
}