.poop-box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;

    .poop {
        width: 80px;
        height: 80px;
        opacity: 0;
    }

    .active {
        opacity: 1;
    }
}