.poop-box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;

    .poop {
        width: 80px;
        height: 80px;
        opacity: 0;
    }

    .active {
        opacity: 1;
    }
}

@media (max-width: 768px){
    .poop-box {
        width: 50%;
        height: 40%;
        justify-content: flex-start;
        margin: 0;
    
        .poop {
            width: 40px;
            height: 40px;
            margin: auto 0;
    }
    
    }
}